
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>RTB testing platform</title>
    <style>
        body {
            font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>RTB Advertisement</h1>

    <h2>Winning ad</h2>
    <div>
        <img id="auctionAd"
             alt="Ad"
             src="~/Content/no ad.png"
             style="max-height:400px;visibility:collapse" />
    </div>

    <!--Script references. -->
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/RTB.js"></script>
</body>
</html>
